* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

h1 {
    font-size: 10em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: purple;
}

.navbar-custom {
    background-color: #007bff; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff; 
    font-family: 'Poppins', sans-serif;
}
.navbar-custom .nav-link:hover {
    color: #cce7ff; 
}

.nav-link {
    font-weight: bold; 
}
